@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

p, h1, body {
    margin: 0px 0px 0px 0px;
}

.nav {
    display: flex;
    margin: 0px 0px 0px 0px;
    background-color: black;
}

.image-nav {
    width: 70%;
}

.social-media-nav {
    display: flex;
    width: 30%;
}

.item-social-nav {
    margin-top: 2.3vh;
}

.item-social-nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section1 {
    margin: 0px 0px 0px 0px;
    display: flex;
    width: 100%;
    height: auto;
    background-image: url('../resources/backgrounds/B2.png');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

.content1 {
    display: inline;
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0vw 10vh 0vw 0vh;
}

.text1 {
    margin: 5vh 6vw 2vh 5vw;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vh;
}

.button1 {
    margin-left: 14vw;
    margin-right: 14vw;
    padding: 2vh 2vw 2vh 2vw;
    background-color: #E2001C;
    border: 10px;
    border-radius: 45px;
    text-align: center;
}

.button1 a {
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vh;
}

.title1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10vh;
    font-style: oblique;
}

.image1 {
    width: 50%;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

.image1 img {
    padding-top: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.content2 {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 20vh;
}

.footer {
    display: flex;
}

.section2 {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    background-image: url('../resources/backgrounds/B4.png');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

.title2 {
    text-align: center;
    padding-top: 15vh;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vh;
    font-style: oblique;
}

.text2 {
    display: inline;
    width: 50%;
    height: auto;
    text-align: center;
    margin: 5vh 13vw 2vh 13vw;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vh;
}

.question2 {
    text-align: center;
    margin-top: 5vh;
}

.button2 {
    margin-top: 7vh;
    margin-bottom: 3vh;
    margin-left: 14vw;
    margin-right: 14vw;
    padding: 2vh 4vw 2vh 4vw;
    background-color: #345CFC;
    border: 10px;
    border-radius: 45px;
    text-align: center;
}

.button2 a {
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vh;
}

.image2 {
    display: inline;
    width: 50%;
    height: auto;
}

.item {
    width: auto;
    height: auto;
}

.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin-img {
    padding-top: 2vh;
}

.section3 {
    margin: 0px 0px 0px 0px;
    padding-bottom: 5rem;
    width: 100%;
    height: 100%;
    background-image: url('../resources/backgrounds/B5.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

.content3 {
    display: flex;
}

.video {
    width: 100%;
    margin: 40px;
}

.form {
    width: 100%;
    text-align: center;
}

.form h1 {
    margin-top: 3vh;
    font-family: 'Josefin Sans', sans-serif;
}

#contact-form {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

#contact-form label {
    font-size: 4vh;
    font-family: 'Josefin Sans', sans-serif;
}

.input-area {
    border: none;
    border-radius: 30px;
    padding: 1vh;
    margin-bottom: 3vh;
}

.send-button {
    background-color: #345CFC;
    font-family: 'Josefin Sans', sans-serif;
    font-style: oblique;
    padding: 2vh;
    font-size: 2.5vh;
    color: white;
    border-radius: 30px;
    border: none;
}

.footer2 {
    width: 100%;
    height: auto;
    background-color: black;
}

.footer2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Adaptation mobile*/
@media screen and (max-width: 1080px) and (orientation: portrait) {
    .image-nav {
        width: 50%;
    }

    .image-nav img {
        width: 100%;
        height: auto;
    }

    .social-media-nav {
        width: 50%;
        display: flex;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
    }

    .item-social-nav {
        margin-top: 2vh;
    }

    #facebook {
        margin-top: 1.5vh;
    }

    .item-social-nav img {
        width: 80%;
    }

    .section1 {
        margin-top: 0%;
        margin-bottom: 0%;
        height: auto;
        background-position: inherit;
    }
    
    .content1 {
        height: auto;
        padding-top: 1vh;
        margin-left: 0vw;
        margin-right: 0vw;
        margin-bottom: 0vh;
    }

    .title1 {
        font-size: 2vh;
    }

    .text1 {
        font-size: 1.5vh;
        margin-top: 0%;
        padding-top: 2vh;
    }

    .image1 img {
        padding-top: 1vh;
    }

    .button1 {
        padding: 0vh 0vw 0vh 0vw;
        margin-top: 1vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    .button1 a {
        font-size: 10px;
        padding: 1px;
    }

    .section2 {
        background-position: inherit;
    }

    .content2 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    .title2 {
        padding-top: 2vh;
        font-size: 1vh;
    }

    .image2 {
        width: 50%;
    }

    .text2 {
        width: 50%;
        font-size: 1vh;
        margin-top: 1vh;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 0vh;
    }

    .text2 p {
        font-size: 2vh;
    }

    .question2 {
        margin-top: 2vh;
    }

    .button2 {
        margin-top: 1vh;
        margin-bottom: 0vh;
        padding: .5vh 2vw;
    }

    .button2 a {
        font-size: 2vh;
    }

    .margin-img {
        margin-top: 0%;
        padding-top: 1vh;
    }

    .section3 {
        background-position: inherit;
        background-position: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .content3 {
        display: block;
        padding-bottom: 30px;
    }

    .form {
        padding-top: 10px;
        width: 100%;
        height: 100%;
        background-image: url('../resources/backgrounds/B4.png');
        background-size: 100%;
        background-repeat: no-repeat;
        color: white;
        display: block;
        width: 100%;
    }

    .form h1 {
        font-size: 3vh;
        margin-top: 1vh;
    }

    #contact-form label {
        font-size: 2vh;
    }

    #contact-form {
        margin-top: 0vh;
        margin-bottom: 0vh;
        margin-left: 0px;
        margin-right: 0px;
    }

    .send-button {
        font-size: 3vh;
        margin-top: 3vh;
        margin-bottom: 3vh;
        padding: 10px;
    }
    
    .input-area {
        padding: 1.5vh;
        margin-bottom: 0vh;
        padding: 2px .3px 2px .3px;
    }

    .video {
        padding-top: 0vh;
        margin: 0;
        display: block;
    }

    .video iframe {
        width: 100%;
        height: auto;
    }

    .footer2 {
        
    }

    .footer2 img {
        width: 50%;
    }
}